In [4]:
import os
import pandas as pd

In [2]:
input_dir = "../input/"
output_dir = "../output/"

In [14]:
df = pd.read_csv(os.path.join(input_dir, "sample.csv"))

In [15]:
df

      name
0  abemaru
1      foo
2      bar